@import url(https://fonts.googleapis.com/css?family=Monofett);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Crimson Text', serif;
	font-size: 20px;
}
nav{
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
	float: right;
}
nav a{
	font-family: "Times New Roman", serif;
	font-size: 25px;
	color: #EB5E23;
	margin:0 1em
}
header{
	background-repeat: no-repeat;
	background-position: top right;  
	background-size: 50%;
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
#logo{
	font-family: "Times New Roman", Serif;
	font-size: 25px;
	text-align: left;
	color: #EB5E23;
	float: left;
}
#title{
	font-family: 'Monofett', cursive;
	font-size: 55px;
	font-weight: normal;
	text-align: center;
	color: #EB5E23;
}
#two_column{
	background-color: #FFB7CF;
	border: 1PX black solid;
	padding: 20px;
}
.left{
	background-color: #E582A2;
	border: 1px black solid;
	padding: 20px;
	float: left;
	width: 40%;
}
.right{
	background-color: #E55B88;
	border: 1px black solid;
	padding: 20px;
	float: right;
	width: 52%;
}
h2{
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
	text-align: center;
	margin-top: 5px;
	color: #000000;	
}
.clearfix:after{
	visibility: hidden;
	display: block;
	font-size: 0;	
	content: " ";
	clear: both;
	height: 0; 
}
.information{
	font-weight: normal;
	font-size: 20px;
	font-style: italic;
	text-align: left;
	margin-left: 60px; 
	margin-right: 100px;
	color: #EB5E23;
}
.timeline{
	font-style: normal;
	margin-left: 80px;
}
.skills{
	font-weight: bold;
	margin-left: 80px;
	font-size: 20px;
}
.skillsinformation{
	font-style: normal;
	font-weight: lighter;
	font-size: 18px;
	margin-left: 80px;
}
.heading{
	font-family: 'Monofett', cursive;
	font-style: normal;
	font-size: 35px;
	text-align: center;
}
h3{
	font-size: 25px;
	font-weight: bold;
	margin-left: 50px;
}
h4{
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
}
p{
	
}
h5{
	font-size: 20px;
	font-weight: bold;
	margin-left: 60px;
}
ol{
	margin-left: 80px;
}
ul{
	margin-left: 80px;
}
#one{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
#one img {
	width:100%;
}
#two{
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
}
/*#slogan{*/
	font-family: "Times New Roman", Serif;
	font-size: 2em;
	text-align: left;
	margin-left: 200px;
	color: #000000;
	font-style: italic;
	position: absolute;
}
