@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,100,100italic,200italic,300,300italic,400italic,500,600,500italic,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300,300italic,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Monofett);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}
header {
	background-color: #303030;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;	
	content: "header";
	clear: both;
	height: 0; 	
}
nav {
	float: right;
	padding: 1.5em;
}
nav a {
	font-family: "Raleway", sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	text-decoration: none;
	color: #EB5E23;
	padding: 1em;
}
nav a:hover {
	background-color: #4A4A4A;
	padding: 1em;
}
#top {
	background-color: #DE503C;
	height: 100%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;	
	content: "top";
	clear: both;
	height: 0; 	
}
#topimage {
	width: 45%;
	float: left;
}
#toptitle {
	font-family: "Raleway", sans-serif;
	font-size: 4em;
	font-weight: 200;
	width: 45%;
	float: right;
	text-align: center;
	color: #000000;
	padding: 3%;
	margin: 5%;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;	
	content: "top";
	clear: both;
	height: 0; 	
}
#text {
	background-color: #6B6B6B;
	height: 40em;
}
.heading1 {
	font-family: "Raleway", sans-serif;
	font-size: 2.5em;
	text-align: center;
	padding: 10% 10% 3%;
	color: #000000;
}
#text {
	font-family: "Lato", sans-serif;
	font-weight: lighter;
	margin: 0;
	padding: 2em;
}
.columns {
	float: left;
	background-color: #C7C7C7;
	border-color: transparent;
	width: 22%;
	height: 18em;
	padding: 2em;
	margin: 1em;
}
#highlight1{
	font-size: 1.1em;
	font-weight: 400;
	color: #0D1926;
}
.highlight2 {
	font-style: italic;
	font-weight: 300;
	color: #13263B
	font-size: 1.8em;
}
.links {
	font-size: 1.1em;
	font-weight: 600;
	color: #0D1926;	
	text-decoration: none;
}
#lrws {
	padding: 1.5em;
}
footer{
	background-color: #ABABAB;
	padding: 1.5em;
}
#logo{
	font-family: "Times New Roman", Serif;
	font-size: 1.2em;
	text-align: left;
	color: #5A8C72;
}
@media only screen and (max-width: 1140px) {
	.columns {
		font-size: .9em;
	}
}
@media only screen and (max-width: 1025px) {
	.columns {
		width: 45%;
		height: 12em;
	}
	#lrws {
		padding: 1em;
		width: 25%;
	}
	#toptitle {
		font-size: 2.5em;
	}
}
@media only screen and (max-width: 690px) {
	.columns {
		float: left;
		width: 90%;
		font-size: 1.2em;
	}
	#text {
		height: 100%;
	}
	.clearfix:after {
		visibility: hidden;
		display: block;
		font-size: 0;	
		content: "#text";
		clear: both;
		height: 0; 	
	}
	#toptitle {
		font-size: 2em;
	}
}
@media only screen and (min-width: 200px) and (max-width: 529px) {
	#toptitle {
		float: none;
		width: 100%;
		margin: 0;
	}
	#topimage {
		float: none;
		width: 100%;
	}
	.heading1 {
		font-size: 2em;
	}
	.columns {
		font-size: 1.1em;
		padding: 1em;
	}
	#lrws {
		width: 40%;
	}
	nav {
		font-size: .8em;
		margin: 0;
	}
}
@media only screen and (max-width: 400px) {

}


