@import url(https://fonts.googleapis.com/css?family=Raleway:400,200,100,100italic,200italic,300,300italic,400italic,500,600,500italic,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,900,700italic,700,400italic,300,300italic,100italic,100);
@import url(https://fonts.googleapis.com/css?family=Monofett);
@import url(https://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: "Lato", sans-serif;
	font-size: 25px;
	font-weight: 300;
	background-color: #616161;
}
header {
	background-color: #303030;
	padding: 30px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;	
	content: "header";
	clear: both;
	height: 0; 	
}
nav {
	float: right;
}
nav a {
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	font-weight: 500;
	text-decoration: none;
	color: #EB5E23;
	padding: 0;
	margin: 0 1em;
}
nav a:hover {
	background-color: #4A4A4A;
	padding: 30px 25px;
}
section {
	padding: 0 30px;
	margin: 20px 30px;
}
.heading {
	font-family: "Raleway", sans-serif;
	font-size: 45px;
	text-align: center;
	padding: 0 0 10px 0;
	font-weight: 500;
}
#p1 {
	padding: 10px;
	text-align: center;
}
.columns {
	float: left;
	width: 45%;
	margin: 10px;
}
h3 {
	text-align: center;
}
#computer {
	width: 50%;
	height: 50%;
}
img {
	position: relative;
	text-align: center;
}
.projectsinfo {
	font-size: 18px;
	padding: 15px 0 15px 0;
}
.researchtopics {
	float: left;
	width: 40%;
	margin: 10px;
	text-decoration: none;
}
ul {
	list-style-type: none;
	padding: 20px;
}


