body{
	background-image: url(images/orangewaterpaint.jpg);
	background-attachment: fixed;
	background-position: center;  
	background-repeat: no-repeat;
	background-size: 45%;
}
#logo{
font-family: "Times New Roman", Serif;
	font-size: 22px;
	font-weight: bold;
	text-align: right;
	margin-right: 40px;
	color: #EB5E23;
}	
#title{
	font-family: "Times New Roman", Serif;
	font-size: 45px;
	font-weight: 900;
	text-align: center;
	margin-top: 180px;
	margin-left: 20px;
	color: #000000;
}
h2{
	font-family: "Times New Roman", Serif;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-left: 250px;
	margin-right: 250px;
	color: #000000;	
}
.information{
	color: #000000;
	font-family: "Times New Roman", Serif;
	font-weight: normal;
	font-size: 12px;
}
#slogan{
	font-family: "Times New Roman", Serif;
	font-size: 30px;
	text-align: center;
	color: #000000;
	font-style: italic;
	margin-top: 50px;
	margin-left: 20px;
}